{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- CONTENT WRAPPER -->
<div class="ec-content-wrapper">
    <div class="content">
        <div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
            <div>
                <h1>All Bottom Pattern</h1>
                <p class="breadcrumbs"><span><a href="{% url 'admin_index' %}">Home</a></span>
                    <span><i class="mdi mdi-chevron-right"></i></span>All Bottom Pattern
                </p>
            </div>
            <div>
                <a href="{% url 'add_bottom_pattern' %}" class="btn btn-primary"> Add Bottom Pattern</a>
            </div>
        </div>

        <div class="fabric-grid">
            <div class="row">
                {% for pattern in bottom_patterns %}
                <div class="col-lg-4 col-md-4 col-sm-6 mb-4"> <!-- Adjust column classes as needed -->
                    <div class="fabric-grid-card">
                        <img src="{{ pattern.image.url }}" alt="{{ pattern.name }}" width=200 height=200/>
                        <h3>{{ pattern.name }}</h3>
                        <p>Dress Type: {{ pattern.dress_type.dress_type }}</p>
                        <p>Price: ${{ pattern.price }}</p>
                        <!-- Update Bottom Pattern Button -->
                        <a class="btn btn-primary btn-sm update-bottom-pattern" href="#"
                            data-bottom-pattern-id="{{ pattern.id }}">Update</a>

                        <!-- Delete Bottom Pattern Button -->
                        <a class="btn btn-danger btn-sm delete-bottom-pattern" href="#"
                            data-bottom-pattern-id="{{ pattern.id }}">Delete</a>
                    </div>
                </div>
                {% empty %}
                <p>No bottom patterns available.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
