{% extends 'design/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        {% for dress_type in dress_types %}
        {% if dress_type.is_active %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
                <!-- You can display the dress type image here if available -->
                <div class="image-container">
                    <img src="{{ dress_type.image.url }}" class="card-img-top dress-type-image" alt="{{ dress_type.dress_type }}" width="100" height="200" data-dress-type="{{ dress_type.dress_type }}">
                </div>
                <div class="card-body">
                    <!-- Display the dress type name under the image with black color -->
                    <h5 class="card-title" style="color: black;">{{ dress_type.dress_type }}</h5>
                    <p class="card-text">
                        Active
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<script>
    // JavaScript to capture Dress Type and navigate to the URL when the image is clicked
    document.addEventListener('DOMContentLoaded', function() {
        const dressTypeImages = document.querySelectorAll('.dress-type-image');
        dressTypeImages.forEach(image => {
            image.addEventListener('click', function() {
                const dressType = this.getAttribute('data-dress-type');
                const url = `/dress-type/${dressType}/top-pattern-selection/`;
                window.location.href = url; // Navigate to the specified URL
            });

            // JavaScript to highlight the image on hover
            image.addEventListener('mouseenter', function() {
                this.style.boxShadow = '0px 0px 10px rgba(0, 0, 0, 0.5)';
                // You can change the shadow style as desired
            });
            image.addEventListener('mouseleave', function() {
                this.style.boxShadow = 'none';
            });
        });
    });
</script>
{% endblock %}
