{% extends 'design/base.html' %}

{% block content %}
<div class="container">
    <h1>Select Sleeves Pattern</h1>
    <div class="row">
        {% for sleeves_pattern in sleeves_patterns %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
                <!-- You can display the sleeves pattern image here if available -->
                <img src="{{ sleeves_pattern.image.url }}" class="card-img-top" alt="{{ sleeves_pattern.name }}"  width=200 height=200> 
                <div class="card-body">
                    <h5 class="card-title" style="color: black;">{{ sleeves_pattern.name }}</h5>
                    <p class="card-text">
                        Active
                    </p>
                    <a href="{% url 'sleeves_pattern_detail' sleeves_pattern.id %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
