{% extends 'design/base.html' %}

{% block content %}
<div class="container">
    <h1>Top Patterns</h1>
    <div class="row">
        {% for top_pattern in top_patterns %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
                <!-- Display the top pattern image here if available -->
                <img src="{{ top_pattern.image.url }}" class="card-img-top" alt="{{ top_pattern.name }}"  width=200 height=200>
                <div class="card-body">
                    <h5 class="card-title" style="color: black;">{{ top_pattern.name }}</h5>
                    <p class="card-text">
                        <!-- You can add more details about the top pattern here -->
                    </p>
                    {% comment %} <a href="{% url 'top_pattern_detail' top_pattern.id %}" class="btn btn-primary">Details</a> {% endcomment %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
