{% extends "designer_dash/base.html" %}

{% load static %}

{% block style %}
    <style>
        .banner-image {
            height: 30vh;
            width: 100%;
            object-fit: cover; /* This property ensures the image covers the entire element even if its aspect ratio changes */
        }

        .orders-container {
            border: 1px solid #ccc;
            padding: 40px; /* Increased padding */
            margin: 20px 0; /* Added margin to the top and bottom */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s, transform 0.3s;
            background-color: #c0c0c0; /* Ash color */
            width: calc(100% - 40px); /* Adjusted width to consider left and right padding */
            max-width: 800px; /* Optional: Set a maximum width if needed */
            margin-left: auto; /* Center the container horizontally */
            margin-right: auto; /* Center the container horizontally */
        }
        
        .orders-container:hover {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            transform: scale(1.02);
        }
        
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <img src="{% static 'images/01.jpg' %}" class="banner-image" alt="Banner Image" height="30%" >
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'orders' %}">
                    <button class="btn btn-primary btn-block">ORDERS</button>
                </a>
            </div>
            <div class="col-md-6">
                <div class="orders-container">
                    <a href="{% url 'view_patterns' %}">
                        <button class="btn btn-primary btn-block">PATTERNS</button>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
  
{% endblock %}
