{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- CONTENT WRAPPER -->
    <div class="ec-content-wrapper">
        <div class="content">
            <!-- Orders and Users Grid -->
            <div class="row">
                <div class="col-xl-6 col-md-12 p-b-15">
                    <div class="card" style="background-color: white;">
                        <div class="card-header bg-orange">
                            <h2 class="text-white">Orders</h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Order ID</th>
                                            <th>User</th>
                                            <!-- Add more order-related columns here -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Loop through orders and display them here -->
                                    </tbody>
                                </table>
                            </div>
                            <a href="{% url 'order_list' %}" class="btn btn-success mt-3">View All Orders</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12 p-b-15">
                    <div class="card" style="background-color: white;">
                        <div class="card-header bg-orange">
                            <h2 class="text-white">Users</h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>User ID</th>
                                            <th>Name</th>
                                            <!-- Add more user-related columns here -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Loop through users and display them here -->
                                    </tbody>
                                </table>
                            </div>
							<a href="{% url 'list_users' %}" class="btn btn-success mt-3">View All users</a>
                        </div>
					</div>
                    </div>
                </div>
            </div>
        </div> <!-- End Content -->
    </div> <!-- End Content Wrapper -->
{% endblock %}
