{% extends 'base.html' %}

{% block content %}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>User</th>
            <th>Designer</th>
            <th>Shipping Address</th>
            <th>Order Date</th>
            <th>Total Price</th>
            <th>Order Status</th>
            <th>Payment Status</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.order_id }}</td>
            <td>{{ order.user.username }}</td>
            <td>{{ order.designer_id}}</td> <!-- Access designer's username through related_name -->
            <td>{{ order.address_id}}</td> <!-- Display relevant address fields -->
            <td>{{ order.order_date }}</td>
            <td>${{ order.total_price }}</td>
            <td id="order-status-{{ order.order_id }}">{{ order.get_order_status_display }}</td>
            <td>
                {% if order.payment_status %}
                <span class="text-success">Paid</span>
                {% else %}
                <span class="text-danger">Unpaid</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
